<!doctype html>
{% extends "EmployeeRecord/base.html" %}

{% block body_block %}
    
<h1>Empleados registrados:</h1>

{% if empleados %}
<ol>
  
  {% for empleado in empleados %}
  <li> Informacion del empleado </li>
  <ul>
    <li> <b>Nombre Completo:</b> {{empleado.Primer_Nombre}} {{empleado.Segundo_Nombre}} {{empleado.Primer_Apellido}} {{empleado.Segundo_Apellido}}</li>
    <li> <b>Tipo de documento:</b> {{empleado.Tipo_Documento}}</li>
    <li> <b># Documento:</b> {{empleado.Documento}}</li>
    <li> <b>Unidad Organizativa:</b> {{empleado.Area}}</li>
  </ul>
  <a class="btn btn-sm btn-info" href="{% url 'references:editar-empleado' empleado.id%}">Editar</a>
  <a style="background-color: red" class="btn btn-sm btn-info" href="{% url 'references:eliminar-empleado' empleado.id%}">Eliminar</a>
  </br>
  </br>
  {% endfor %}
</ol>
{% endif %}

{% endblock %}

<!-- TODO ACA-->
    
