<!doctype html>
{% extends "EmployeeRecord/base.html" %}

{% block body_block %}
    
<h1>Buscar empleado</h1>

<form class="d-flex" method="POST">
  
  {% csrf_token %}
  <input name="search_bar" class="form-control" type="search" placeholder="Buscar por Nombre o Documento">
  </br>
  <button class="btn btn-primary" type="submit">Buscar</button>

  </br>

  {% if busqueda and Consulta %}
  <h1>Usted busco por "{{busqueda}}"</h1>
  <h2> Empleados que califican a su busqueda: </h2>

  </br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
	<th scope="col">Nombre completo</th>
	<th scope="col">Tipo de documento</th>
	<th scope="col">Documento</th>
	<th scope="col">Unidad Organizativa</th>
	<th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      {% for item in Consulta %}
      <tr>
	<td>{{item.Primer_Nombre}} {{item.Segundo_Nombre}} {{item.Primer_Apellido}} {{item.Segundo_Apellido}}</td>
	<td>{{item.Tipo_Documento}}</td>
	<td>{{item.Documento}}</td>
	<td>{{item.Area}}</td>
  
      <td><a class="btn btn-sm btn-info" href="{% url 'references:editar-empleado' item.id%}">Editar</a>
      <a style="background-color: red" class="btn btn-sm btn-info" href="{% url 'references:eliminar-empleado' item.id%}">Eliminar</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  {% endif %}


  

</form>

{% endblock %}

<!-- TODO ACA-->
    
